.main {
    padding: 16px;
}

.main-banner {
    width: 100%;
    height: auto;
}

.movie-details {
    margin-top: 16px;
}

.movie-image {
    width: 200px;
    height: 300px;
}

.movie-details h2 {
    font-size: 1.5em;
    margin: 8px 0;
}

.movie-details p {
    font-size: 1em;
    color: #555;
}